{%  extends "base.html" %}
{% block sidebar %}
    <ul>
                    <li><a href="/articles/all/">Articles</a> </li>
                    <li><a href="/articles/create/">Create</a> </li>
    </ul>

    <h3>Search titles</h3>
    {% csrf_token %}
    <input type="text" id="search" name="search">

    <ul id="search-results">

    </ul>
{% endblock %}


{%  block content %}

{% if articles.count > 0 %}
    <h1>Articles</h1>

    <h2>Language settings COOKIES {{ language }}</h2>
    <h2>Language settings SESSION {{ session_language }}</h2>
    {% for article in articles  %}
        <div>
            <h2><a href="/articles/get/{{ article.id }}/">{{ article.title }}</a> </h2>
            <p>{{ article.body|lower|truncatewords:"10" }}</p>
            <p>{{ article.likes }} people liked this article</p>
        </div>
    {% endfor %}

    {% else %}
        <h2> Not Show</h2>
{% endif %}

{% endblock %}
