{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My First Template {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css" %}">
    <script src="{% static "assets/js/jquery-2.0.2.min.js" %}"></script>
    <script src="{% static "assets/js/ajax.js" %}"></script>
</head>
<body>
    <div id="page">
        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li><a href="/articles/all/">Articles</a> </li>
                    <li><a href="/articles/create/">Create</a> </li>
                    <li><a href="/admin/">Admin</a> </li>
                </ul>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>